@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light-webfont.svg#OpenSansBold") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-LightItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#OpenSansBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBold-webfont.svg#OpenSansBold") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
